<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>oyst</name>
            <displayName><![CDATA[Oyst - FreePay and 1Click]]></displayName>
            <version><![CDATA[1.6.6]]></version>
            <description><![CDATA[FreePay is a full service online payment solution entirely free: 0% commission, 0% installation fee, 0% subscription. With FreePay, eliminate your transaction costs, increase your margins.]]></description>
            <author><![CDATA[Oyst]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>
