.oyst .header {
    text-align: center;
}

.oyst .header p {
    font-size: 16px;
}

.oyst.contact input[type="text"] {
    width: 250px;
}

.oyst.configuration input[type="text"] {
    width: 450px;
}

.oyst.configuration input.customUrlText {
    margin: 5px 0;
}

.oyst.configuration select {
    width: 250px;
}
.productTabsSub ul li.tab-row a {
    display: block;
    font-weight: normal;
    color: #666;
    padding: 7px 10px;
    background-color: #FFF;
    border-top: 1px solid #CCCED7;
    border-right: 1px solid #CCCED7;
    border-left: 1px solid #CCCED7;
}
.productTabsSub ul li.tab-row:last-child a {
    border-bottom: 1px solid #CCCED7;
}
.productTabsSub ul li.tab-row a.selected {
    background-color: #EBEDF4;
    font-weight: bold;
    color: #000;
    border-right: none;
}
#shipment-collection input[type="text"] {
    width: 140px;
}

#shipment-collection .margin-form {
    width: 160px;
}

#shipment-collection .col-left, #shipment-collection .col-right {
    width: 320px;
    float: left;
}

.oyst.configuration input.customUrlText {
    display: block;
}

.oyst.configuration input[type="checkbox"] {
    margin-top: 3px;
    width: 18px;
    height: 18px;
}

.oyst.configuration #module_form_submit_btn, .oyst.configuration #module_export_catalog_btn {
    height: 40px;
    width: 220px;
}

.oyst.configuration p.error {
    width: 415px;
}

.oyst a {
    text-decoration: underline;
}

.oyst p.help-block {
    margin-bottom: 0;
}

.oyst.contact #form {
    width: 750px;
    margin: auto;
}

.oyst.contact button[type=submit] {
    background-color: #00aff0;
    border-color: #008abd;
    color: #FFF;
    width: 100%;
}

.oyst.contact button[type=submit] {
    height: 50px;
}

ul.nav.nav-tabs {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e5e5e5;
    line-height: normal;
    margin: 0;
    padding: 0;
    width: 100%;
}
ul.nav.nav-tabs li {
    float: left;
}
ul.nav.nav-tabs a.title {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 8px 4px;
    font-weight: normal;
    font-size: 12px;
}
ul.nav.nav-tabs li.active a.title, ul.nav.nav-tabs a.title:hover {
    background-color: #49B2FF;
    color: #fff;
    text-shadow: -1px -1px 0 #3293D6;
}
div.tab-content {
    background-color: #ebedf4;
    border: 1px solid #ccced7;
    min-height: 404px;
    padding: 5px 10px 10px;
    margin-left: 140px;
}
.oyst-admin-tab.tab-content {
    clear: both;
}
.shipment-item {
    border-bottom: 1px solid #C7D6DB;
    margin-bottom: 15px;
}
#shipment-model label, .shipment-item label {
    width: 150px;
}
#shipment-model .margin-form, .shipment-item .margin-form {
    padding-left: 160px;
}
#logManagement, #log, #logContainer, #deleteLogs {
    margin-top: 15px;
}

#logName {
    font-weight: bolder;
    font-size:14px;
}

#log {
    display: none;
    background-color: #333333;
    color: snow;
    padding: 10px;
    max-height: 400px;
    overflow: auto;
    font: message-box;
}

.shipment-item {
    border-bottom: 1px solid #C7D6DB;
    margin-bottom: 15px;
}

#shipment-model label, .shipment-item label {
    width: 150px;
}

#shipment-model .margin-form, .shipment-item .margin-form {
    padding-left: 160px;
}
