.oyst.configuration input[type="checkbox"] {
    margin-top: 7px;
    width: 18px;
    height: 18px;
}

.oyst.configuration .help-block {
    margin-bottom: 0;
}

.oyst.configuration .alert.alert-danger {
    margin: 5px 0 0;
}

.oyst.configuration .customUrlText {
    display: none;
    margin-top: 5px;
}

.oyst.configuration .panel-footer {
    text-align: center;
}

.oyst.contact #form_get_apikey_submit, .oyst.configuration #module_form_submit_btn, .oyst.configuration .module_form_apply_btn {
    background-color: #00aff0;
    border-color: #008abd;
}

.oyst.contact #form_get_apikey_submit {
    height: 50px;
}

.oyst.configuration #module_form_submit_btn, .oyst.configuration #module_export_catalog_btn {
    height: 40px;
    width: 220px;
}

.oyst.configuration .panel-footer {
    height: auto !important;
}

.oyst.contact .help-block {
    margin-bottom: 0;
}

.oyst h2 {
    font: 400 25px/1.42857 "Open Sans",Helvetica,Arial,sans-serif;
}

.shipment-item {
    border-bottom: 1px solid #C7D6DB;
    margin-bottom: 15px;
}
.amount-shipment-leader {
    padding-left: 0 !important;
}
.amount-shipment-follower {
    padding-right: 0 !important;
}
.nav.nav-tabs {
    border-bottom: 1px solid #ddd !important;
}

#logManagement, #log, #logContainer, #deleteLogs {
    margin-top: 15px;
}

#logName {
    font-weight: bolder;
    font-size:14px;
}

#log {
    display: none;
    background-color: #333333;
    color: snow;
    padding: 10px;
    max-height: 400px;
    overflow: auto;
    font: message-box;
}

.need-scroll{
    overflow: auto;
    max-width: 100px;
}
