.oyst.configuration input[type="checkbox"] {
    margin-top: 7px;
    width: 18px;
    height: 18px;
}

.oyst.configuration .help-block {
    margin-bottom: 0;
}

.oyst.configuration .alert.alert-danger {
    margin: 10px 0 0;
}

.oyst.configuration .advancedOptions {
    display: none;
}

.oyst.configuration .customUrlText {
    display: none;
    margin-top: 5px;
}